@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slide-left-enter-from { @apply translate-x-full; }
  .slide-left-enter-to { @apply translate-x-0; }
  .slide-left-enter-active { @apply transition-transform duration-300 ease-out; }
  .slide-left-leave-from { @apply translate-x-0; }
  .slide-left-leave-to { @apply translate-x-full; }
  .slide-left-leave-active { @apply transition-transform duration-300 ease-in; }
}